html {
  background-color:black;
  line-height: 0;
  /* width: 100%;
  height: 100%; */
}

body {
  margin: 0;
  /* width: 100vw;
  height: 100vh; */
}

.native_mode{
  object-fit: scale-down;
}

video {
  width: 100vw;
  height: 100vh;
}

.mobile video {
  padding-top: 1px;
}

/* video {
  position: absolute;
  width: 100%;
  height: 100%;
} */